@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(251,255,65,1) 60%, rgb(95, 201, 129) 100%) fixed;
  background-repeat: no-repeat;
}

.container {
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  h1 {
    font-weight: bolder;
    position: relative;
    margin-top: 30px;
    color: rgb(47, 0, 218);
    text-shadow: 0 0 1px #a596ee;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 70px;
  }
}

.header {
  margin-top: 75px;
  text-align: center;
  text-shadow: 0 0 2px #a596ee;
  h5 {
    color: rgb(255, 255, 228);
    text-shadow: 0 0 2px #ffffff;
    font-size: larger;
    margin-bottom: 190px;
  }
  h4 {
    color: rgb(254, 254, 242);
    text-shadow: 0 0 2px #ffffff;
    margin-bottom: 110px;
  }
}

p {
  font-size: large;
}

.products {
  margin-top: 75px;
}

.list {
  background-color: rgba(0, 0, 0, 0.249);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  border-style: none;
  border-radius: 2px;
  height: 400px;
  width: 270px;
  overflow: scroll;
  list-style: none;
  padding: 20px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  p a {
    color: rgb(255, 255, 230);
    text-shadow: 0 0 2px #ffffffad;
    &:hover {
      color:rgb(255, 255, 255);
    }
  }
}

.review_list {
  background-color: rgba(0, 0, 0, 0.249);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  border-style: none;
  border-radius: 2px;
  height: 300px;
  width: 300px;
  overflow: scroll;
  list-style: none;
  padding: 20px;
  margin-top: 1vw;
  margin-bottom: 2vw;
  p a {
    color: rgb(255, 255, 230);
    text-shadow: 0 0 2px #ffffff76;
    &:hover {
      color: rgb(47, 0, 218);
      text-shadow: 0 0 1px #a596ee;
    }
  }
  h4 {
    margin-bottom: 15px;
    text-decoration: underline;
  }
}

.content-body {
  background-color: rgba(0, 0, 0, 0.249);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: none;
  border-radius: 2px;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 70px;
  h4 {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.links {
  margin-top: 3vw;
  font-weight: bold;
  a {
    color: rgb(8, 155, 0);
    text-shadow: 0 0 2px #96ee962e;
    &:hover {
      color:rgb(199, 216, 225);
    }
  }
}

.blue-links {
  margin-top: 3vw;
  font-weight: bold;
  a {
    color: rgb(0, 166, 255);
    text-shadow: 0 0 1px #affaffa7;
    &:hover {
      color:rgb(255, 252, 230);
    }
  }
}

.btn {
  margin-top: 25px;
  margin-bottom: 3vw;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  &:hover {
      background-color: rgb(0, 166, 255);
      color:white;
  }
}

.actions {
  margin-top: 25px;
  margin-bottom: 10px;
}

label {
  margin-top: 3px;
}

.errors {
  color: rgb(255, 2, 2);
  h3 {
    color: rgb(255, 255, 255);
  }
}

.form {
  background-color: rgba(0, 0, 0, 0.249);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
  min-width: 200px;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
}

.authenticate {
  color: black;
  position: absolute;
  top: 20%;
  left: 40%;
  right: 40%;
  margin: -25px 0 0 -25px;
  background-color: rgba(255, 255, 255, 0.893);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  h2 {
    margin-top: 5px;
  }
}